* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colores de la pagina

$color-primario: #6e44ff;
$color-secundario: #4d6cfa;
$color-terciario: #5e58fd;
$color-cuartenario: #2f3061;
$color-quinario: #17182b;
$color-acercade: #e40066;
$color-nav: #ffffff;
$color-nav-hover: #6e44ff;
$color-sombra: #000000;
$color-titulos-h1: #ffffff;
$color-subtitulos-h5: #ffffff;
$color-fondo-formas:#2d2a4a;

// Colores de la pagina
// Fuentes
$fuente-principal: "Roboto Slab",
serif;
$fuente-secundario: "Raleway",
sans-serif;

@font-face {
    font-family: Retroica;
    src: url(".fonts/Retroica.ttf") format("opentype");
}

$fuente-terciario: "Retroica";
// Fuentes

/* Navbar */
header {
    position: absolute;
    width: 100%;
}

.navbar-brand {
    position: relative;
    top: 1.5vw;
    left: 8vh;
}

.navbar-color {
    z-index: 5;
}

#nav__icon-color {
    color: $color-nav;

    &:hover {
        color: $color-nav-hover;
    }
}

.nav-current-circle {
    position: relative;
    width: 5px;
    height: 5px;
    left: 70px;
    top: 0px;
    z-index: 5;
    clip-path: circle(50% at 50% 50%);
    background: $color-primario;
}

.nav-nocurrent-circle {
    position: relative;
    width: 5px;
    height: 5px;
    left: 70px;
    top: 0px;
    z-index: 5;
}

.navbar-nav {
    margin-left: 65px;
    margin-top: 3vw;
    width: 90%;
}

.nav-item {
    margin: 1px;
    padding: 1px 8px;
}

.nav-link {
    display: block;
    text-align: center;
    font-family: $fuente-secundario;
    font-weight: 300;
    font-size: 1.3rem;
    width: 165px;
    padding: 10%;
}

.button__nav {
    background: linear-gradient(180deg, #6e44ff 0%, #4d6cfa 100%), #c4c4c4;
    border: none;
    font-family: $fuente-secundario;
    font-weight: 500;
    color: $color-nav;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 3px 40px;
    border-radius: 5px;
    cursor: pointer;
}

#nav__menu--color {
    color: $color-nav;

    &:hover {
        color: $color-nav-hover;
    }
}

#nav__menu--color-current {
    color: $color-nav;
    font-weight: 400;

    &:hover {
        color: $color-nav-hover;
    }
}

/* Navbar */

/* Contenido */
.button__suscribirse {
    position: relative;
    background: $color-secundario;
    border-radius: 5px;
    top: -69px;
    left: 320px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 1px;
    cursor: pointer;
    font-family: $fuente-secundario;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    z-index: 5;
}

.form__subscribirse {
    position: relative;
    font-size: 1em;
    background: $color-fondo-formas;
    border-radius: 5px;
    padding: 37px;
    border-style: none;

    &:focus {
        background: $color-fondo-formas;
        color: $color-nav;
    }
    z-index: 3;
}

.form__inicio {
    position: relative;
    width: 500px;
    height: 150px;
    padding: auto;
    z-index: 2;
}

#div__contenedores {
    margin: 0;
    padding: 0;
}

.color_text_principal {
    color: $color-primario;
}

.color_text_acerca-de {
    color: $color-acercade;
}

h1 {
    font-family: $fuente-terciario;
    font-size: 4rem;
    color: $color-titulos-h1;
}

h2 {
    font-family: $fuente-secundario;
    font-size: 1.5rem;
    color: $color-subtitulos-h5;
}

h3 {
    color: $color-titulos-h1;
}

h4 {
    color: $color-subtitulos-h5;
}

.div__articulos {
    height: 120vh;
    margin: 0;
    padding: 0;
}


/* Contenido */

/* Formas */
.page__fondo-box {
    position: absolute;
    height: 105%;
    width: 100%;
    background-color: $color-sombra;
    z-index: -1;
    overflow: hidden;
}

.page__fondo {
    position: absolute;
    width: 100vw;
    height: 145vh;
    top: 0px;
    left: 0px;
    z-index: -3;
    background: radial-gradient(50% 98.88% at 50% 50%, #221e46 0%, #17182b 100%);
}

.page__forma-text{
    position: absolute;
    margin: 14vw 40vw 10vw 12vw;
    padding: 0vw 20vw 2vw 0vw;

    h5 {
        padding: 0.2vw 0vw 0vw 0vw;
    }
}
/* Formas Inicio 1*/


.inicio__formas-container-iconos {
    position: relative;

    width: 75%;
    height: 25vw;
    top: 45em;
    left: 0;
    margin: 0 auto;
    padding: 0;
}


.inicio__formas-box-iconos-1 {
    width: 100%;
    height: 100%;
}

.inicio__formas-box-iconos-2 {
    width: 100%;
    height: 100%;
}

.inicio__formas-box-iconos-3 {
    width: 100%;
    height: 100%;
}

.inicio__text--iconos {
    position: absolute;
    text-align: center;
    left: -5px;
    margin: 15px 80px;

    h3 {
        font-family: $fuente-secundario;
        font-size: 1rem;
    }

    h4 {
        font-family: $fuente-secundario;
        font-size: 0.8rem;
    }
}

.inicio__forma--iconos-1 {
    background-color: $color-fondo-formas;
    width: 70px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.inicio__forma--iconos-2 {
    background-color: $color-fondo-formas;
    width: 70px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.inicio__forma--iconos-3 {
    background-color: $color-fondo-formas;
    width: 70px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Formas Inicio 1*/

/* Formas Acerca de Nosotros */

.div__articulos__acerca-de{
    height: 100vh;
    margin: 0;
    padding: 0;

}

.acerca-de__fondo-box {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-sombra;
    z-index: -1;
    overflow: hidden;
}

.acerca-de__fondo {
    position: absolute;
    width: 100vw;
    height: 145vh;
    top: 0px;
    left: 0px;
    z-index: -3;
    background: radial-gradient(50% 98.88% at 50% 50%, #221e46 0%, #17182b 100%);
}

.acerca-de__text-box{
    width: 100%;
    height: 100%;
}
.acerca-de__text {
    padding: 14vw 5vw 5vw 10vw;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 2px;

    h2 {
        margin: 20px 0;
        padding: 0 2vw 0 0 
    }

    h1 {
        font-size: 60px;
    }
}


.div__articulos_acerca-de {
    margin: 0;
    padding: 0;
}
.acerca-de__form-box{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;

}
.acerca-de__form{
    position: relative;
    left: 10px;
    top: 20px;
    width: 100%;

    h1{
        font-size: 35px;
    }
}
/* Formas Acerca de Nosotros */

/* Formas */
/* Contacto */
.contact__fondo-box{
    height: 100%;
    width: 100%;
    background-color: $color-sombra;
    overflow: hidden;
}

.contact__fondo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 145vh;
    left: 0px;
    background: radial-gradient(50% 98.88% at 50% 50%, #221e46 0%, #17182b 100%);

}

.contact__forma-text{
position: relative;
top: 13vw;


}



.form__contact{
    background: $color-fondo-formas;
    border-style: none;
    font-family: $fuente-secundario;
    padding: 30px 10px;
    &:focus {
        background: $color-fondo-formas;
        color: $color-nav;
    }
    z-index: 3;
}


.form__contact-textarea{
    background-color: $color-fondo-formas;
    font-family: $fuente-secundario;
    padding: 10px 0px 100px 10px;
    border-style: none;
    &:focus{
        background-color: $color-fondo-formas;
        color: $color-nav;
    }
}


.button__contact{
    background-color: $color-terciario;
    border-style: none;
    font-family: $fuente-secundario;
    font-size: 1.5em;
    padding: 10px 50px;
    &:hover{
        background-color: $color-secundario;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
}
}














/* Contacto */
/* Start*/
.start__text{
    position: absolute;
    margin: 13vw 40vw 10vw 15vw;
    padding: 0vw 20vw 2vw 0vw;
    
    h1{
        
        width: 28vw;
    }
    h2 {
        padding: 0.2vw 0vw 0vw 0vw;
    }
}
.start__app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 300px;
    
    margin: auto;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.start__app-item{
    padding: 2px;
}


/* Start*/ 
/* Footer */
.footer__container {
    position: relative;
    bottom:0px;
    left: 0px;
    height: 10em;
    margin: 0;
    padding: 0;
}

.footer__back {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $color-quinario;
    color: $color-titulos-h1;
    font-size: 1rem;
    width: 100%;
    padding: 2rem;
}

.footer__text {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.footer__copy {
    background-color:$color-primario;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
}

/* Footer */

/* MEDIA QUERIES */

@media screen and (max-width: 780px) {
  
    /* Navbar */
    header {
        position: static;
        background-color: $color-quinario;
    }

    .navbar-brand {
        position: relative;
        top: 0vw;
        left: 1vw;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    .div__articulos__acerca-de{
        height: auto;
        margin: 0;
        padding: 0;
    
    }

    .nav-current-circle {
        position: relative;
        width: 5px;
        height: 5px;
        left: 47px;
        top: 0px;
        z-index: 5;
        clip-path: circle(50% at 50% 50%);
        background: $color-primario;
    }

    .nav-nocurrent-circle {
        position: relative;
        width: 5px;
        height: 5px;
        left: 70px;
        top: 0px;
        z-index: 5;
    }

    .navbar-nav {
        margin-left: 65px;
        margin-top: 1vw;
        width: 65%;
    }

    .nav-item {
        margin: 0.5px;
        padding: 1px 1px;
    }

    .nav-link {
        display: block;
        text-align: center;
        font-family: $fuente-secundario;
        font-weight: 300;
        font-size: 1.2rem;
        width: 100px;
        padding: 4%;
    }

    .button__nav {
        padding: 1px 45px;
        font-size: 1.5rem;
    }

    /* Navbar */

    // Fuentes
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }

    // Fuentes
    // Formas
    .page__forma-text {
        position: absolute;
        margin: 5vw 3vw 4vw 5vw;
        padding: 5vw 3vw 3vw 3vw;
        width: 70%;
    }

    // Formas
    
    // Contenido


    // INICIO   

    .inicio__formas-container-iconos {
        width: 75%;
        height: 10em;
        top: 20em;
        left: 0;
        margin: 0 auto;
        padding: 0 auto;
    }

    .inicio__text--iconos {
        position: absolute;
        text-align: center;
        left: -5px;
        margin: 5px;

        h3 {
            font-family: $fuente-secundario;
            font-size: 0.9rem;
        }

        h4 {
            font-family: $fuente-secundario;
            font-size: 0.7rem;
        }
    }

    // Acerca de
    .acerca-de__fondo-box {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: $color-sombra;
        z-index: -1;
        overflow: hidden;
    }
    
    .acerca-de__text { 

        padding: auto;
        width: 100%;
        height: 100%;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 2px;
    
        h2 {
            margin: 20px 0;
            padding: auto; 
            font-size: 17px;
        }
    
        h1 {
            font-size: 48px;
        }
    }
    .acerca-de__form{
        position: relative;
        top:10px;
        width: 400px;
        left: 6vw;
        h1{
            font-size: 23px;
        }
    }
    // Acerca de
    // Botones


    .button__suscribirse {
        position: relative;
        background: $color-secundario;
        border-radius: 5px;
        top: -49px;
        left: 144px;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 1px;
        cursor: pointer;
        font-family: $fuente-secundario;
        font-weight: 500;
        font-size: 15px;
        overflow: hidden;
    }
    
    .form__subscribirse {
        position: relative;
        font-size: 1em;
        background: $color-fondo-formas;
        border-radius: 5px;
        padding: 25px;
        border-style: none;
        font-size: 14px;
    
        &:focus {
            background: $color-fondo-formas;
            color: $color-nav;
        }
        
    }
    
    .form__inicio {
        position: relative;
        width: 250px;
        height: 130px;
        padding: auto;
        
    }
    // Botones
    // Contenido
}

@media screen and (max-width: 1200px) and (min-width: 780px) {
    .button__suscribirse {
        position: relative;
        background: $color-secundario;
        border-radius: 5px;
        top: -57px;
        left: 200px;
        border: none;
        color: white;
        padding: 8px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 1px;
        cursor: pointer;
        font-family: $fuente-secundario;
        font-weight: 500;
        font-size: 15px;
        overflow: hidden;
    }

    .form__subscribirse {
        position: relative;
        font-size: 1em;
        background: $color-fondo-formas;
        border-radius: 5px;
        padding: 30px;
        border-style: none;
        font-size: 14px;
    
        &:focus {
            background: $color-fondo-formas;
            color: $color-nav;
        }
        
    }
    .form__inicio {
        position: relative;
        width: 350px;
        height: 200px;
        padding: auto;
        
    }
    .acerca-de__form{
        position: relative;
        top:10px;
        width: 400px;
        left: 10vw;
        h1{
            font-size: 25px;
        }
    }
    .acerca-de__text { 
        letter-spacing: 1px;
    
        h2 {
            font-size: 20px;
        }
    
        h1 {
            font-size: 40px;
        }
    }
    .div__articulos__acerca-de{
        height: auto;
        margin: 0;
        padding: 0;
    
    }
    // Navbar
    header {
        position: static;
        background-color: $color-quinario;
    }

    .nav-current-circle {
        left: 80px;
    }

    // Navbar
    .navbar-brand {
        position: relative;
        top: 0vw;
        left: 1vw;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    .inicio__formas-container-iconos {
        width: 75%;
        height: 25vw;
        top: 50vw;
        left: 0;
        margin: 0 auto;
        padding: 0;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .inicio__text--iconos {
        position: absolute;
        text-align: center;
        left: -5px;
        margin: 10px;

        h3 {
            font-family: $fuente-secundario;
            font-size: 1rem;
        }

        h4 {
            font-family: $fuente-secundario;
            font-size: 0.8rem;
        }
    }

    .article__div--forma1-text {
        position: absolute;
        margin: 3vw 20vw 10vw 12vw;
        padding: 0vw 20vw 2vw 0vw;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1200px) {
    // Navbar

    header {
        position: absolute;
        width: 100%;
    }

    .navbar-brand {
        position: relative;
        top: 1.5vw;
        left: 8vh;
    }

    .navbar-color {
        z-index: 5;
    }

    #nav__icon-color {
        color: $color-nav;

        &:hover {
            color: $color-nav-hover;
        }
    }

    .nav-current-circle {
        position: relative;
        width: 5px;
        height: 5px;
        left: 40px;
        top: 0px;
        z-index: 5;
        clip-path: circle(50% at 50% 50%);
        background: $color-primario;
    }

    .nav-nocurrent-circle {
        position: relative;
        width: 5px;
        height: 5px;
        left: 70px;
        top: 0px;
        z-index: 5;
    }

    .navbar-nav {
        margin-left: 65px;
        margin-top: 3vw;
        width: 90%;
    }

    .nav-item {
        margin: 1px;
        padding: 1px 8px;
    }

    .nav-link {
        display: block;
        text-align: center;
        font-family: $fuente-secundario;
        font-weight: 300;
        font-size: 1rem;
        width: 100px;
        padding: 5%;
    }

    .button__nav {
        background: linear-gradient(180deg, #6e44ff 0%, #4d6cfa 100%), #c4c4c4;
        border: none;
        font-family: $fuente-secundario;
        font-weight: 500;
        color:$color-titulos-h1;
        padding: 10px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 3px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    // Navbar

    .acerca-de__text { 
        letter-spacing: 1px;
    
        h2 {
            font-size: 23px;
        }
    
        h1 {
            font-size: 45px;
        }
    }
}

@media screen and (max-width: 990px) and (min-width: 600px) {
    .navbar-nav {
        margin-left: 10px;
        width: 100%;
    }
}